

<ion-content>

  <ion-slides #slides pager="true" (ionSlideDidChange)="changeSlider($event)">
  
    <ion-slide >
      <div class="slide">
        <br>
        <br>
        <div id="title" class="ion-text-center">
          <h2>Seguridad</h2>
          <p>Estamos cumpliendo con todas la medidas de BIOSEGURIDAD para poder brindarte el mejor de los servicios.</p>
         
        </div>
        <img src="assets/img/seguridad.jpg" alt="">
      </div>
    </ion-slide>
  
    <ion-slide>
      <br>
      <br>
      <div id="title" class="ion-text-center">
        <h2>Comodidad</h2>
        <p>En 1 MEM, sabemos que tu comodidad está primero
          ¿Ya viviste la experiencia de viajar con nosotros?</p>
       
      </div>
      <img src="assets/img/comodidad.jpg" alt="">
    </ion-slide>

    <ion-slide>
      <br>
      <br>
      <div id="title" class="ion-text-center">
        <h2>Atención al Cliente</h2>
        <p>Contamos con números de teléfono en las principales ciudades del país para que puedas informarte sobres nuestras rutas, nuestros servicios de encomiendas o cualquier otra consulta que tengas</p>
      </div>
      <ion-button   (click)="goLogin()" expand="block" color="danger" shape="round">
        Empezar
      </ion-button>
      <img src="assets/img/atencion.png" alt="">
     
    </ion-slide>
  
  </ion-slides>
  
  <ion-row>
    <ion-col size="6">
      <ion-button  (click)="swipeBack()" expand="block"  color="danger" shape="round" >
        Atras        
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button   (click)="swipeNext()" expand="block" color="danger" shape="round">
        Siguiente
      </ion-button>
     
    </ion-col>
  </ion-row>
  </ion-content>
  