ion-slides {
    --bullet-background-active	:#e20424;
    --bullet-background:#010101;
    height: 85%;
    bottom: 50px;
  }
  .button-saltar{
    color: #2A2929;
  }
  .swiper-slide {
    display: block;
  }

  .swiper-slide h2 {
    margin-top: 2.8rem;
  }

  .swiper-slide img {
    height: 350px;
    border-radius:25px;     
    pointer-events: none;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
  }

  p b {
    color: var(--ion-text-color, #000000);
  }
